<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	{{>bootstrap_include}}
	{{>google_font_include}}
	<link rel="stylesheet" href="../css/nav.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/admin_login.css">
	<link rel="stylesheet" href="../css/admin_nav.css">
</head>

<body>

	<div class="wrapper">
		{{>admin_dash_nav}}
		<div class="container-md mt-5">
			<div class="about-heading text-center pt-3">Add New Project</div>
			<div class="underline"></div>
			<div class="container-sm">
				<form action="/submit-project" method="post">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" list="datalistOptions" id="floatingPTypes" placeholder="Type to search project types..." maxlength="50" name="p_type" required>
						<datalist id="datalistOptions">
							{{#each work_list}}
								<option value="{{this.work_type}}">{{this.work_type}}</option>
							{{/each}}
						</datalist>
						<label for="floatingPTypes">Project Types</label>
					</div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPName" placeholder="Enter Project Name"
                            required maxlength="50" name="p_name">
                        <label for="floatingFName">Project Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPVer" placeholder="Enter Project Version" required maxlength="15" name="p_ver">
                        <label for="floatingPVer">Project Version</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPDesc" placeholder="Enter Project Description" required name="p_desc">
                        <label for="floatingPDesc">Project Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control" id="floatingPLink" placeholder="Enter Project Download Link" name="p_link">
                        <label for="floatingPLink">Project Download Link</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control" id="floatingPSLink" placeholder="Enter Download Link from App Stores" name="ps_link">
                        <label for="floatingPSLink">App Store Link</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control" id="floatingPExplore" placeholder="Enter Project Explore Link" name="p_explore">
                        <label for="floatingPExplore">Explore Link</label>
                    </div>
                    <button type="submit" class="btn btn-dark form-control">Submit Project</button>
                </form>
			</div>
		</div>


		<div class="about-heading text-center pt-3">Project List</div>
		<div class="underline"></div>
		<div class="container-md pb-3">
			<table class="table table-striped table-bordered table-hover text-center">
				<thead class="thead-dark">
					<tr>
						<th>Category</th>
						<th>Project Name</th>
						<th>Project Version</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					{{#each project_data}}
					<tr>
						<td>{{this.work_type}}</td>
						<td>{{this.project_name}}</td>
						<td>{{this.project_ver}}</td>
						<td><a href="/update-project/{{this._id}}"><i class="bi bi-pencil"></i></a></td>
						<td><a href="/delete-project/{{this._id}}"><i class="bi bi-trash3"></i></a></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>

</body>

<script>
	document.getElementById('profile').classList.remove('active');
	document.getElementById('projects').classList.add('active');
</script>

</html>