<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>bootstrap_include}}
    {{>google_font_include}}
    {{>css_include}}    
    <link rel="stylesheet" href="/css/admin_login.css">
    <link rel="stylesheet" href="/css/admin_nav.css">
</head>

<body>
    {{>admin_dash_nav}}

    <div class="wrapper">
        <div class="container-md mt-5">
            <div class="about-heading text-center pt-3">Update Project</div>
            <div class="underline"></div>
            <div class="container-sm pb-3">
                <form action="/update-project" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingID" placeholder="Project ID" required
                            maxlength="30" value="{{project_data._id}}" name="p_id" readonly="readonly">
                        <label for="floatingEmail">Project ID</label>
                    </div>
                    <div class="form-floating mb-3">
						<input type="text" class="form-control" list="datalistOptions" id="floatingPTypes" placeholder="Type to search project types..." maxlength="50" name="p_type" required value="{{project_data.work_type}}">
						<datalist id="datalistOptions">
							{{#each work_list}}
								<option value="{{this.work_type}}">{{this.work_type}}</option>
							{{/each}}
						</datalist>
						<label for="floatingPTypes">Project Types</label>
					</div>
                    {{!-- <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="p_type">
                        {{#each work_list}}
                            <option value="{{this.work_type}}" {{#ifCond this.work_type '==' this.project_type}}selected{{/ifCond}}>{{this.work_type}}</option>
                        {{/each}}
                    </select> --}}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPName" placeholder="Enter Project Name"
                            required maxlength="50" name="p_name" value="{{project_data.project_name}}">
                        <label for="floatingFName">Project Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPVer" placeholder="Enter Project Version" required maxlength="15" name="p_ver" value="{{project_data.project_ver}}">
                        <label for="floatingPVer">Project Version</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingPDesc" placeholder="Enter Project Description" required name="p_desc" value="{{project_data.project_desc}}">
                        <label for="floatingPDesc">Project Description</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control" id="floatingPLink" placeholder="Enter Project Download Link" name="p_link" value="{{project_data.project_link}}">
                        <label for="floatingPLink">Project Download Link</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control" id="floatingPSLink" placeholder="Enter Download Link from App Stores" name="ps_link" value="{{project_data.project_link_play}}">
                        <label for="floatingPSLink">App Store Link</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="url" class="form-control" id="floatingPExplore" placeholder="Enter Project Explore Link" name="p_explore" value="{{project_data.project_explore}}">
                        <label for="floatingPExplore">Explore Link</label>
                    </div>
                    <button type="submit" class="btn btn-dark form-control">Update Details</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
	document.getElementById('profile').classList.remove('active');
	document.getElementById('projects').classList.add('active');
</script>

</html>