<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	{{>bootstrap_include}}
	{{>google_font_include}}
	<link rel="stylesheet" href="css/nav.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/main.css">
</head>

<body>
	<div class="wrapper">
		{{>navbar}}
		<div class="container-fluid background-image">
			<div class="row myrow align-items-center">
				<div class="col-lg-4 imgdiv">
					<img src="images/photo.jpg" alt="photo.jpg" class="photo">
				</div>
				<div class="col-lg-8 text-light text-center">
					<div class="welcome-text">Welcome,</div>
					<div class="name">I'm {{personal.name}}</div>
					<div class="text-description">Student at Web & Application Development</div>
					<div class="dropdown">
						<button class="btn link-btn dropdown-toggle fw-bold" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							Contact Me!
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="{{social_links.telegram}}">Telegram</a></li>
							<li><a class="dropdown-item" href="mailto:{{personal.email}}">Email</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container-lg mt-5 mb-5 about-me">
			<div class="about-heading text-center">Know more about me!</div>
			<div class="underline"></div>

			<div class="row align-items-center justify-content-around gx-3 gy-1">
				<div class="col-lg-8 about-section">
					<div class="description p-3">
						<p>I'm now studying in the Department of Computer Science of Engineering in the University of Kalyani. I'm a student of MCA (Master of Computer Applications).</p>
						<p>I've completed BCA (Bachelor of Computer Application) from Institute of Computer and Information Sciences (ICIS College) under the Bankura University in the year 2021.</p>
						<p>I have interest in Web Design and Development, Android Development, Database Management.</p>
					</div>
				</div>

				<div class="col-lg-4 p-3">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td class="left"><i class="bi bi-person"></i> Name:</td>
								<td class="right">{{personal.name}}</td>
							</tr>
							<tr>
								<td class="left"><i class="bi bi-envelope"></i> Email:</td>
								<td class="right">{{personal.email}}</td>
							</tr>
							<tr>
								<td class="left"><i class="bi bi-geo-alt"></i> From:</td>
								<td class="right">{{personal.location}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="container mt-5 mb-5 about-me">
			<div class="about-heading text-center">My Interests & Skills</div>
			<div class="underline"></div>
			<div class="row align-items-center gx-3 gy-3">
				{{#each interest_data}}
				<div class="col-md-6 interests">
					<div class="element">
						<p class="fs-4 fw-bold"><i class="{{this.intr_icon}}"></i> {{this.intr_title}}</p>
						<p class="descr opacity-50">{{this.intr_descr}}</p>
						<div class="progressbar w-100">
							<div class="progress text-white" style="width: {{this.skill_percent}}%;">{{this.skill_percent}}%</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>

		{{>footer}}
	</div>
</body>

</html>

<script>
	document.getElementById('home').classList.add('active');
	document.getElementById('resume').classList.remove('active');
	document.getElementById('works').classList.remove('active');
</script>