<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	{{>bootstrap_include}}
	{{>google_font_include}}
	<link rel="stylesheet" href="../css/nav.css">
	<link rel="stylesheet" href="../css/footer.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" href="../css/works.css">
</head>

<body>
    <div class="wrapper">
		{{>navbar}}
		<div class="container-md projects-container">
			<div class="about-heading text-center mt-5 pt-3">{{project_data.0.work_type}}</div>
			<div class="underline"></div>
			<div class="row align-items-center gx-3 gy-3">
				{{#each project_data}}
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="element project-container">
						<p class="fw-bold fs-4 px-1 mb-1">{{this.project_name}}</p>
						<p class="opacity-50 mb-1">Version: {{this.project_ver}}</p>
						<p class="mb-1">{{this.project_desc}}</p>
						<a class="btn link-btn px-2 py-1" href="{{this.project_link}}">Download <i class="bi bi-cloud-arrow-down-fill"></i></a>
						{{#if this.project_link_play}}
							<a class="btn link-btn px-2 py-1" href="{{this.project_link_play}}">Google Play <i class="fa-brands fa-google-play"></i></a>
						{{/if}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>

        {{>footer}}
    </div>
</body>
</html>

<script>
	document.getElementById('home').classList.remove('active');
	document.getElementById('resume').classList.remove('active');
	document.getElementById('navbarDropdown').classList.add('active');
</script>